@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:opsz,wght@9..144,700;9..144,900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Barlow", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Fraunces", serif;
}

body {
  width: 100%;
}

header {
  background-image: url("images/mobile/image-header.jpg");
  background-size: cover;
  background-position: center center;
  height: 540px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 35px 20px;
}
@media (min-width: 600px) {
  header {
    padding: 45px;
    height: 800px;
    background-image: url("images/desktop/image-header.jpg");
    background-position: bottom;
  }
}
header .navigation-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: relative;
  align-items: center;
}
header .navigation-container #open-menu {
  height: 20px;
}
@media (min-width: 600px) {
  header .navigation-container #open-menu {
    display: none;
  }
}
header .navigation-container nav {
  position: absolute;
  top: 75px;
  width: 100%;
  background: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 45px;
}
@media (min-width: 600px) {
  header .navigation-container nav {
    background: none;
    position: relative;
    top: 0;
    flex-direction: row;
    padding: 0;
    align-items: center;
    width: auto;
  }
  header .navigation-container nav:before {
    display: none;
  }
}
header .navigation-container nav a {
  margin: 20px 0;
  text-decoration: none;
  color: hsl(232deg, 10%, 55%);
  font-size: 1.4rem;
}
@media (min-width: 600px) {
  header .navigation-container nav a {
    margin: 0 0 0 40px;
    font-size: 0.8rem;
    color: white;
  }
}
header .navigation-container nav a#btn-contact {
  background: hsl(51deg, 100%, 49%);
  font-family: "Fraunces", serif;
  padding: 20px 30px;
  text-transform: uppercase;
  color: black;
  border-radius: 50px;
}
@media (min-width: 600px) {
  header .navigation-container nav a#btn-contact {
    padding: 10px 20px;
    background: white;
  }
}
header .navigation-container nav:before {
  content: "◢";
  position: absolute;
  font-size: 3rem;
  top: -45px;
  right: -3px;
  color: white;
}
header h1 {
  margin-top: 95px;
  margin-bottom: 50px;
  text-transform: uppercase;
  letter-spacing: 5px;
  text-align: center;
  color: white;
  font-size: 2.5rem;
}
@media (min-width: 600px) {
  header h1 {
    font-size: 5rem;
    margin-bottom: 100px;
  }
}

main {
  width: 100%;
}
@media (min-width: 600px) {
  main #main-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
main .feature-image {
  height: 310px;
  background-size: cover;
  background-position: center center;
}
@media (min-width: 600px) {
  main .feature-image {
    height: 600px;
  }
}
main .feature-image#feature-image-1 {
  background-image: url("images/mobile/image-transform.jpg");
}
@media (min-width: 600px) {
  main .feature-image#feature-image-1 {
    background-image: url("images/desktop/image-transform.jpg");
  }
}
main .feature-image#feature-image-2 {
  background-image: url("images/mobile/image-stand-out.jpg");
}
@media (min-width: 600px) {
  main .feature-image#feature-image-2 {
    background-image: url("images/desktop/image-stand-out.jpg");
  }
}
main .feature-content {
  padding: 70px 30px;
  text-align: center;
}
main .feature-content#feature-content-1 {
  order: -1;
}
@media (min-width: 600px) {
  main .feature-content {
    display: flex;
    flex-direction: column;
    height: 600px;
    justify-content: center;
    text-align: left;
    padding: 120px;
  }
}
main .feature-content h2 {
  font-size: 2rem;
  font-weight: 900;
  color: hsl(212deg, 27%, 19%);
}
@media (min-width: 600px) {
  main .feature-content h2 {
    font-size: 3rem;
  }
}
main .feature-content p {
  color: hsl(232deg, 10%, 55%);
  line-height: 1.8;
  margin: 40px 0;
}
@media (min-width: 600px) {
  main .feature-content p {
    font-size: 1.15rem;
  }
}
main .feature-content a {
  text-transform: uppercase;
  font-family: "Fraunces", serif;
  color: hsl(212deg, 27%, 19%);
  font-weight: 900;
  text-decoration: none;
}
@media (min-width: 600px) {
  main .feature-content a {
    font-size: 1.2rem;
  }
}
main .feature-content a:after {
  content: "";
  background-color: hsl(51deg, 100%, 49%);
  height: 10px;
  border-radius: 10px;
  width: 127px;
  position: absolute;
  top: 12px;
  left: -5px;
  z-index: -1;
  opacity: 0.2;
}
@media (min-width: 600px) {
  main .feature-content a:after {
    width: 150px;
    top: 13px;
  }
}
main .feature-content#feature-content-1 a {
  position: relative;
}
main .feature-content#feature-content-1 a:after {
  background-color: hsl(51deg, 100%, 49%);
}
main .feature-content#feature-content-2 a {
  position: relative;
}
main .feature-content#feature-content-2 a:after {
  background-color: hsl(7deg, 99%, 70%);
}
main .imaged-content {
  height: 600px;
  background-size: cover;
  background-position: center;
  text-align: center;
  display: flex;
  flex-direction: column;
  padding: 65px 25px;
}
@media (min-width: 600px) {
  main .imaged-content {
    padding: 65px 200px;
  }
}
main .imaged-content h3 {
  font-weight: 900;
  font-size: 1.7rem;
  margin-top: auto;
}
main .imaged-content p {
  margin-top: 35px;
  font-size: 0.95rem;
  line-height: 1.4;
}
@media (min-width: 600px) {
  main .imaged-content p {
    font-size: 0.9rem;
  }
}
main .imaged-content#imaged-content-1 {
  background-image: url("images/mobile/image-graphic-design.jpg");
  color: hsl(167deg, 40%, 24%);
}
@media (min-width: 600px) {
  main .imaged-content#imaged-content-1 {
    background-image: url("images/desktop/image-graphic-design.jpg");
  }
}
main .imaged-content#imaged-content-2 {
  background-image: url("images/mobile/image-photography.jpg");
  color: hsl(198deg, 62%, 26%);
}
@media (min-width: 600px) {
  main .imaged-content#imaged-content-2 {
    background-image: url("images/desktop/image-photography.jpg");
  }
}

#testimonials {
  text-align: center;
  padding: 65px 45px 20px;
}
@media (min-width: 600px) {
  #testimonials {
    padding: 170px;
  }
}
@media (min-width: 600px) {
  #testimonials .testimonials-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 45px;
  }
}
#testimonials h4 {
  color: hsl(210deg, 4%, 67%);
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.1rem;
}
#testimonials .testimonial {
  margin: 65px 0;
}
@media (min-width: 600px) {
  #testimonials .testimonial {
    margin: 65px 0 45px;
  }
}
#testimonials .testimonial img {
  width: 70px;
  border-radius: 100%;
}
#testimonials .testimonial p.client-words {
  margin: 20px 0;
  color: hsl(232deg, 10%, 55%);
  line-height: 1.6;
}
#testimonials .testimonial h5 {
  font-weight: 900;
  font-size: 1.3rem;
}
#testimonials .testimonial p.client-title {
  color: hsl(210deg, 4%, 67%);
  margin-top: 10px;
  font-size: 0.9rem;
}

#gallery {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
@media (min-width: 600px) {
  #gallery {
    grid-template-columns: repeat(4, 1fr);
  }
}
#gallery picture {
  line-height: 0;
}
#gallery picture img {
  width: 100%;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px 40px;
  background: #90D4C5;
}
footer svg {
  fill: #2C7363;
}
footer .footer-links {
  margin: 45px 0 90px;
  display: flex;
  width: 100%;
  justify-content: space-between;
}
@media (min-width: 600px) {
  footer .footer-links {
    width: 300px;
  }
}
footer .footer-links a {
  text-decoration: none;
  color: hsl(168deg, 34%, 41%);
  font-size: 1.2rem;
}
footer .social-media-links a {
  margin: 0 15px;
}

/*# sourceMappingURL=style.css.map */
